// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap/scss/bootstrap';

form {
  margin-top: ($spacer * .75) !important;
}

input{
  width: 300px !important;
}

.jumbotron{
  height: 220px !important;
}

.row{
  background-color: #E9ECEF !important;
}

#outPage{
  display: none;
}

#mainPage{
  display:none;

}

#mainShift{
  position: relative !important;
  top: -300px !important;
}

#create-item{
  position: relative !important;
  top: -375px !important;
  background-color: rgba(255, 255, 255, .8) !important;
  width: 400px !important;
  padding: 20px !important;
  border-radius: 10px;
}
// #content{
//  display: flex;
//  flex-wrap: wrap;
// }



.jumbotron{
  background-color: rgba(58, 96, 156, 0.8);
}
